@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Employee Leave Management</h1>
        <br />
        <br />
        <p>
            <img src="/Photo/leave_management.jpg" width="1000" height="700" alt="Sample Photo" />
        </p>
 
    </div>
